<p id="notice"><%= notice %></p>

<p>
  <%= link_to @elevator.elevator_system, elevator_system_path(@elevator.elevator_system) %>
</p>

<p>
  <b></b>
  <%= link_to "Floor: #{@elevator.floor.number}", floor_path(@elevator.floor) %>
</p>


<%= link_to 'Edit', edit_elevator_path(@elevator) %> |
<%= link_to 'Back', elevators_path %>
