<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Floor:</b>
  <%= @user.floor %>
</p>

<p>
  <b>Elevator:</b>
  <%= @user.elevator %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
